html,body
ul,ol,li,
h1,h2,h3,h4,h5,h6,p,div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman";
}

a{
    text-decoration:none;
}

.top-wrapper {
    padding: 270px 0 200px 0;
    background-image: url("https://i.ibb.co/sq9hT7t/Whats-App-Image-2022-09-18-at-1-32-47-PM.jpghttps://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Palacio_Municipal_de_Congresos_de_Madrid_07.jpg/1280px-Palacio_Municipal_de_Congresos_de_Madrid_07.jpg") ;
    background-size:cover;
    color:white;
    text-align :center;
}

.container {
    width:1170px;
    margin: 0 auto;
}

.top-wrapper h1 {
    opacity:0.7;
    font-size: 45px;
    letter-spacing:5px;
    margin-bottom:10px;
}

.top-wrapper p {
    opacity:0.7;
    margin-bottom:10px;
}

.btn-wrapper {
    margin:20px;
}


.signup {
    background-color:green;
}

.btn {
    padding: 12px 24px;
    color:aquamarine;
    display:inline-block;
    opacity:0.8;
    border-radius:4px;
}
.btn:hover {
    opacity:1;
}
li {
    list-style: none;
}

header {
    background-color: #6a9d59;
    color: #fff;
    height: 90px;
}

.header-logo {
    float: left;

}

img {
    width: 150px;
    height:65px;
}

.header-list li {
    float: right;
    font-size: 15px;
    padding: 30px 80px;
}
.title h2 {
    text-align: center;
    color: #ffffff
  }

.title h3 {
  text-align: center;
  padding: 17px;
  color: #ffffff
}

.title p {
  text-align: center;
  color: #ffffff
}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  /* Tambahkan CSS untuk clear */
  .clear {
    clear: left;
  }
  
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  
  
  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 124px;
    margin-top: 20px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .lesson-wrapper {
    /* Hapus CSS untuk height */
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .lesson {
    color: #ffffff;
     text-align: center;
    width: 25%;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer img {
    width: 125px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
  }

footer {
    background-color: #6a9d59;
    height: 240px;
    padding: 40px;
    color: #fff;
}

.footer-logo {
    float: left;
    font-size: 30px;
}

.img {
    width: 150px;
    height: 150px;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: 20px;
    list-style: none;
}
/* Untuk Tablets */
@media (max-width: 1000px) {
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
  }
.spasi{
    padding:80px;
}
